html {
    scroll-behavior: smooth;
}

.is-180x180 {
    height: 180px;
    width: 180px;
}

.skill-list > li {
    margin: 30px 0 0 0;
}

.has-bg-image {
    background-image: url('../images/home-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bulma-image {
    width: 200px;
}

.interests {
    display: flex;
    justify-content: center;
}

.summary-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}

.article {
    height: 100%;
}

.skill-card {
    height: 100%;
}

.skill-title {
    font-weight: bold;
}

.skill-icon {
    padding: 20px;
}

.resize {
    height: auto;
}

/* --------- */
/* Resume */
/* --------- */

.resume-section {
    position: relative !important;
    padding-top: 110px !important;
    padding-bottom: 30px !important;
    color: white !important;
}

.resume {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.resume-left {
    padding-right: 80px !important;
}

.resume-right {
    padding-left: 80px !important;
}